<html ng-app="calcApp">
    <head>
        <title>Calculator App</title>
        <script src="angular.js"></script>
        <script src="app.js"></script>
    </head>

    <body>
         <h1> Calculator App </h1>

         <div ng-controller="CaclCtrl as ctrl">
             <input type="text" ng-model="ctrl.input1"></input>
             <span ng-bind="ctrl.op"></span>
             <input type="text" ng-model="ctrl.input2"></input>
             <button ng-click="ctrl.validate();ctrl.computeResult();" >=</button>
             <span ng-bind="ctrl.resultValue"></span>
             <p>
                <button ng-click="ctrl.buttonClicked('+')">+</button>
                <button ng-click="ctrl.buttonClicked('-');">-</button>
                <button ng-click="ctrl.buttonClicked('*');">*</button>
                <button ng-click="ctrl.buttonClicked('/');">/</button>
             </p>
            {{ctrl.input1}} {{ctrl.input2}}
         </div>
        
    </body>


</html>